node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/

.env
.env.local
.env.*.local

.cache/
.tmp/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

bower_components/
jspm_packages/

coverage/
*.lcov
.nyc_output/

.eslintcache
.stylelintcache
.prettierignore

.flowconfig
.flow/
.tsbuildinfo

*.bak
*.orig
*.lock

.vscode/

*.code-workspace

.idea/